html,
body,
#root {
  padding: 0;
  margin: 0;

  width: 100%;
  height: 100%;
}

html {
  -ms-scroll-snap-type: y mandatory;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

body {
  overscroll-behavior: none;
  background-color: rgb(41, 41, 46);

  font-family: Arial, Helvetica, Arial, sans-serif;
}

/* * * * * * * * * *
 * CUSTOM SCROLLBAR 
 * * * * *  * * * */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #202020;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background: #505050;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
